importFrom(Rcpp, evalCpp)
useDynLib(GeoSim, .registration = TRUE)
importFrom("grDevices", "dev.new")
importFrom("graphics", "barplot", "box")
importFrom("utils", "combn")
importFrom("stats","approx","na.omit", "rnorm", "pnorm","runif","rbeta","rgamma","qnorm")
importFrom("pracma","interp1")
export(co.sim)
export(facies.contacts)
export(normal.scores)
export(pluri.sim)
export(replace.values)
export(rvmodel)
export(vpc)
export(calculate.thresholds)

